/Agrupacion.class
/Animal.class
/Conjunto.class
/Main.class
/Cumple.class
/Criterio.class
/CAnd.class
/COr.class
/CriteriosOr.class
/CriteriosAnd.class
/CriterioMayorA.class
/CriterioMenorA.class
/CriterioCapado.class
